<% @pending_approvals.each do |appr| %>
  <div class='homepage-block col-md-3'>
    <h4>
      <%= appr.user.full_name %>
    </h4>
    <p>
      <span class='pending-details'>Date Submitted:</span> <%= appr.date %>
    </p>
    <p>
      <span class='pending-details'>Rationale:</span> <%= truncate appr.rationale, length: 42 %>
    </p>
    <div class='row'>
      <div class='col-md-6 column'>
        <%= link_to 'Approve', approve_post_path(appr), class: 'btn btn-success btn-block', id: "approve_#{appr.id}" %>
      </div>
      <div class='col-md-6 column'>
        <%= link_to 'Review', edit_post_path(appr), class: 'btn btn-warning btn-block' %>
      </div>
    </div>
  </div>
<% end %>
